<body>
  <section id="flight_list">
    <ul>
      <p><% @flights.each do |flight| %>
        <div id="flight_details-<%= flight.id %>">
          <p>Flight Details: <%=  flight.airline.name %> - #<%= flight.number %></p>
          <p>Passengers:</p>
          <% flight.passengers.each do |passenger| %>
            <li><%= passenger.name %></li>
          <% end %>
        </div>
      <% end %>
      </p>
    </ul>
  <section>