<h1><%= @airline.name %></h1>

<div class = "frequent_flyers">
  <h3>Passenger's Flight Count</h3>
  <% @airline.all_adult_passengers_sorted.each do |passenger| %>
  <div id= <%= "passenger_#{passenger.id}"%>>
    <ul>
     <li><%=passenger.name%> 
      Flight Count: <%= passenger.flight_count %> </li>
    </ul>
  </div>
  <% end %>
</div>